version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: llm_atlas
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
